// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use 'index' as *;
/* ---------------------------------------------
*   c-block-top-lead
--------------------------------------------- */
.c-block-top-lead {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @media screen and (max-width: #{$breakpoint-sp}px) {
    margin-top: pxtovw(60, 'sp');
  }

  &__head {
    margin-top: 15px;
    @media screen and (max-width: #{$breakpoint-sp}px) {
      margin-top: pxtovw(30, 'sp');
    }
  }

  &__body {
    padding: 0 10px;
    @media screen and (max-width: #{$breakpoint-sp}px) {
      padding: 0;
    }
  }
}

/* ---------------------------------------------
*   c-block-links
--------------------------------------------- */
.c-block-links {
  margin-top: 30px;

  @media screen and (max-width: #{$breakpoint-sp}px) {
    margin-top: pxtovw(60, 'sp');
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
