// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use 'index' as *;
/* ---------------------------------------------
*   c-box
--------------------------------------------- */
.c-box {
}

/* ---------------------------------------------
*   c-box-label
--------------------------------------------- */
.c-box-label {
  $host: &;
  position: relative;
  padding: 10px 20px 10px 40px;
  background-color: $white1;
  border: 1px solid $black2;
  border-radius: 5px;

  @media screen and (max-width: #{$breakpoint-sp}px) {
    padding: pxtovw(10, 'sp') 20px pxtovw(10, 'sp') 40px;
  }

  &--select {
    padding: 0;

    & select {
      padding: 10px 20px 10px 40px;
      color: $black2;
      font-size: pxtorem(16, 'pc');
      cursor: pointer;

      @media screen and (max-width: #{$breakpoint-sp}px) {
        padding: pxtovw(10, 'sp') 20px pxtovw(10, 'sp') 40px;
      }
    }
  }

  &--icon {
    padding: 10px;

    @media screen and (max-width: #{$breakpoint-sp}px) {
      padding: pxtovw(10, 'sp') pxtovw(20, 'sp');
    }
  }

  &__setting {
    position: absolute;
    top: 50%;
    left: 10px;
    color: $black2;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__change {
    position: absolute;
    top: 50%;
    color: $black2;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
