// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use 'index' as *;
/* ---------------------------------------------
*   c-cassette-result
--------------------------------------------- */
.c-cassette-result {
  $host: &;

  &__dl {
    display: flex;
  }

  &__dd {
  }

  &__graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  &__graph-head {
    text-align: center;
  }

  &__graph-body {
  }

  &__graph-item {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
  }
}
