// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use 'index' as *;
/* ---------------------------------------------
*   c-table
--------------------------------------------- */
.c-table {
  $host: &;
  width: 100%;

  &__dl {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 1px solid $black1;

    @media screen and (max-width: #{$breakpoint-sp}px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: pxtovw(10, 'sp');
      border-radius: pxtovw(5, 'sp');
    }

    &--head {
      position: sticky;
      top: $fixed-header-height-pc * 1px;
      margin-top: 0;
      background-color: $white1;

      @media screen and (max-width: #{$breakpoint-sp}px) {
        top: 0;
      }
    }

    &--profit {
      background-color: $green2;
    }

    &--loss {
      background-color: $red2;
    }
  }

  &__dd {
    padding: 0.8em;
    width: 16.666%;
    word-break: break-all;

    @media screen and (max-width: #{$breakpoint-sp}px) {
      padding: 0.2em 0.5em;
      width: 45%;
    }
  }
}
