// ---------------------------------------------
//   import partial
//----------------------------------------------
@use "sass:math";
@use "index" as *;
/* ---------------------------------------------
*   c-ttl
--------------------------------------------- */
.c-ttl {
    font-size: pxtorem(32, 'pc');
    font-weight: bold;
    @media screen and (max-width: #{$breakpoint-sp}px) {
        font-size: pxtorem(50, 'pc');
    }
}

.c-ttl-top {
  text-align: center;
  font-size: pxtorem(64, 'pc');
  font-weight: bold;
  @media screen and (max-width: #{$breakpoint-sp}px) {
      font-size: pxtorem(50, 'pc');
  }
}
