// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use 'index' as *;
/* ---------------------------------------------
*   l-column
--------------------------------------------- */
.l-column {
  $host: &;
  margin-top: 40px;

  @media screen and (max-width: #{$breakpoint-sp}px) {
    margin-top: pxtovw(40, 'sp');
  }

  &__container {
    display: flex;
  }

  &__main {
    width: 75%;
    padding-right: 30px;

    @media screen and (max-width: #{$breakpoint-sp}px) {
      padding-right: 0;
      width: 100%;
    }
  }

  &__side {
    width: 25%;

    @media screen and (max-width: #{$breakpoint-sp}px) {
      position: fixed;
      display: none;
      width: 100%;
    }
  }
}
