// ---------------------------------------------
//   import partial
//----------------------------------------------
@use 'sass:math';
@use 'index' as *;
/* ---------------------------------------------
*   l-column
--------------------------------------------- */
.l-column {
  $host: &;
  margin-top: 40px;
  &__container {
    display: flex;
  }

  &__main {
    width: 75%;
    padding-right: 30px;
  }

  &__side {
    width: 25%;
  }
}
