/* ---------------------------------------------
*   Universal selector
--------------------------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
}

/* ---------------------------------------------
*   html, body
--------------------------------------------- */
html,
body {
    color: #4d5156;
    font-size: 16px;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "meiryo", sans-serif;
    -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 750px) {
    html,
body {
        font-size: 1rem;
    }
}

body {
    line-height: 1.5;
}
@media screen and (max-width: 750px) {
    body {
        line-height: 1.5;
        min-width: 320px;
    }
}

/* ---------------------------------------------
*   <a> tag
--------------------------------------------- */
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

/* ---------------------------------------------
*   <img> tag
--------------------------------------------- */
img {
    max-width: 100%;
    vertical-align: bottom;
}